*{
    margin: 0;
    padding: 0;
}

body
{
    background-color: 	#00BFFF;
    color: white;
}

table
{
    padding: 1%;
    width: 50px;
    border: 1px solid;

}

button{
    border-radius: 5px;
    size: 50px;
}